
  
  h3{
    color: rgb(18, 67, 5);
    font-style: italic;
    text-align: center;
  }
  * {
    box-sizing: border-box;
    
  }

  .col-250
  {
    background-color: black;
  }
  
  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-250,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }

  .col-250
  {
    margin-left: 600px;
    margin-top: -485px;
    width: 555px;
    height: 510px;
  }
  
  .container {
    background-color:var(--primary-color);
    width: 600px;
    height: 510px;
    margin-left: 50px;
    margin-top: 30px;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 50%;
    margin-left: 150px;
    margin-bottom: 15px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    margin-left: 150px;
    color: white;
    display: block;
  }

    
  .icon-container {
    margin-bottom: 10px;
    margin-left: 150px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: white;
    color: #04AA6D;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 80%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
  }
  
  .btn:hover {
    background-color: white;
  }
  
  a {
    color: #2196F3;
  }
  
  hr {
    border: 1px solid lightgrey;
  }
  
  span.price {
    float: right;
    color: grey;
  }

  button{
    background-color: rgb(122, 6, 6);
    color: #ecf9ec;
    margin-top: 20px;
    margin-left: 300px;
    height:50px;
    width:500px;
    border:none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
  } 