<body>
  <div class="materialContainer">
    <div class="box">
      <div class="header">
        <p>Sign Into Your Account </p>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="input">
          <input placeholder="Username" id="username" type="text" formControlName="username" autocomplete="username">
            <div *ngIf="loginFormControls['username'].errors && loginFormControls['username'].errors['required']">
              username is required.</div>
          </div>
          <span class="spin"></span>
        <div class="input">
          <input placeholder="password" id="passwordNo" type="password" formControlName="password">
            <div *ngIf="loginFormControls['password'].errors && loginFormControls['password'].errors['required']">
              password is required.</div>
          </div>
          <span class="spin"></span>
        <div class="button login">
          <button id="login">Login</button>
        </div>
      </form>
    </div>
  </div>
</body>
      
      