<body>
  <div class="materialContainer">
    <div class="box">
      <div class="header">
        <p>Sign Into Your Account </p>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <div class="input">
          <input placeholder="Username" id="username" type="text" formControlName="username" autocomplete="username">
    
            <div *ngIf="loginFormControls['username'].touched && loginFormControls['username'].invalid &&
            loginFormControls['username'].errors && loginFormControls['username'].errors['required']">
             Required.</div>
          </div>
        
          <span class="spin"></span>
        <div class="input">
          <input placeholder="Password" id="passwordNo" type="password" formControlName="password">
          
            <div *ngIf="loginFormControls['password'].touched && loginFormControls['password'].invalid && loginFormControls['password'].errors && loginFormControls['password'].errors['required']">
              Required.</div>
          </div>
      
          <span class="spin"></span>
        <div class="button login">
          <button id="login">Login</button>
        </div>
      </form>
    </div>
  </div>
</body>
      
      