body{
    background-image: url("https://images.unsplash.com/photo-1516865131505-4dabf2efc692?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80");
    overflow-y: scroll;
    background-size: 100%;
    background-attachment: fixed;
}

.card
{
    height: 40vh;
    margin: 25px;
    padding: 25px;
      
}

h2
{
    color: black;
    margin-top: -10px;
    margin-bottom: 10px;
}

.price-card
{
    margin-left: -260px;
    
}

.container-more
{
    background-color: white;
}

.card-table
{
    background-color: transparent;
    width: 1115px;
}

.btn-danger
{
    margin-right: 90px;
}
.table-responsive
{
    margin-left: 70px;
    margin-top: 30px;
    border: 0px solid transparent;
}

.card-menu{

    margin-bottom: 10px;
    align-items: center;
    width: 920px; 
    height: 160px;  
    margin-left: 20px; 
    margin-top:20px;
    background-color: rgb(246, 255, 248);
    border:none;
    box-shadow: 2px 2px 2px 2px #86b386;
}

th,td,h4{
    color: black;
}

h3{
    color: aliceblue;
    font-weight: bold;
    font-style: oblique;
}

.fa-plus,.fa-minus{
    margin-top: -50px;
    margin-left: -50px;
}

.quantity
{
    margin-left: 19px;
    margin-top: -15px;
    margin-bottom: 50px;
}
.center img
{
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 154px;
    width: 250px;
    margin: 50px 0px;
}

.center
{
    position: absolute;
    top: 55%;
    width: 500px;
    height: 380px;
    left: 50%;
    background-color: aliceblue;
    transform: translate(-50%, -50%);
    text-align: center;
}

#quantity{
    border: 1px;
} 

i{
    color: black;
}
.btn{
    border: 10px;
    margin-top: -60px;
}

.price-row
{
    margin-left: 320px;
}