.card
{
    height: 60vh;
    margin: 25px;
    padding: 25px;
      
}

h4,h6
{
    color: #0f0e0e;
}

.price-card
{
    margin-left: -260px;
    
}


.card-table
{
    background-color: rgb(119, 63, 63);
    width: 1115px;
}

.btn-danger
{
    margin-right: 90px;
}
.table-responsive
{
    margin-left: 70px;
    margin-top: 30px;
    border: 0px solid rgb(119, 63, 63);
}

.card-menu{

    margin-bottom: 10px;
    align-items: center;
    width: 920px; 
    height: 160px;  
    margin-left: 20px; 
    margin-top:20px;
    background-color: rgb(148, 134, 134);
    border:none;
    box-shadow: 2px 2px 2px 2px #d3d2d2;
}

th,td,h4{
    color: white;
}

.fa-plus,.fa-minus{
    margin-left: -50px;
}
.quantity
{
    margin-left: 19px;
    margin-top: 15px;
}
.center img
{
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 154px;
    width: 250px;
    margin: 20px 0px;
}

.center
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#quantity{
    border: 1px;
} 

i{
    color: black;
}
.btn{
    border:1px;
}

.price-row
{
    margin-left: 320px;
}