.card
{
    height: 60vh;
    margin: 25px;
    padding: 25px;
}
.table-responsive
{
    margin-left: 70px;
    margin-top: 30px;
}

.fa-plus,.fa-minus{
    margin-left: -50px;
}
.quantity
{
    margin-left: 19px;
    margin-top: 15px;
}
.center img
{
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 154px;
    width: 250px;
    margin: 20px 0px;
}

.center
{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#quantity{
    border: 1px;
} 

i{
    color: black;
}
.btn{
    border:1px;
}

.price-row
{
    margin-left: 320px;
}