
<body>
    <div class="form-group">
        <input type="text" class="form-control" [(ngModel)]= "searchKey" placeholder="Search Restaurants">
      </div>

<div class="container mt-5 mb-5">

    <div class="row">

        
        <div class="col-lg-4" *ngFor= "let rd of restaurantDetails | filterRestaurants:searchKey:'businessname'; let i=index">
            <div class="foodbox mt-3 mb-3">
                <img src="{{rd.image}}">
                <h1>{{rd.businessname}}</h1>
                <p id="location">Location - {{rd.location}}</p>
                <p id="cost">Cost for Two - {{rd.averagecost | currency:'INR'}}</p>
                <p id="reviews">Reviews - ({{rd.reviews}})</p>
                <p id="phone"> Contact - {{rd.phone}}</p>
                <br/>
                <a class="buybtn" (click)="displaymenuitem(i)">Order Now &nbsp;<i class="bi bi-bag"></i></a>
            </div>

        </div>



    </div>

</div>
</body>