form{
    width: 500px;
    height: 440px;
    border-style: double;
    background-color: white;
    border: none;
    margin-bottom: 80px;
    margin: -18px 320px 0px;
    align-content: center;
    justify-content: center;
}

.box {
  position: relative;
  top: 20px;
  opacity: 1;
  float: left;
  padding: 60px 50px 60px 50px;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1549488344-1f9b8d2bd1f3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  border-radius: 5px;
  transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  z-index: 5;
}

p{
  text-align: center;
  font-weight: bold;
  }
.box.back {
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  top: -20px;
  opacity: 0.8;
  z-index: -1;
}
.box:before {
  content: "";
  width: 100%;
  height: 30px;
  border-radius: 10px;
  position: absolute;
  top: -10px;
  background: rgba(255, 255, 255, 0.6);
  left: 0;
  transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  z-index: -1;
}

.overbox .title {
  color: #fff;
}
.overbox .title:before {
  background: #fff;
}

::placeholder
{
  color: var(--primary-color);
}
.input {
  
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input label, .input .spin {
  margin-left: 10px;
  transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  -ms-transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input #password, .input #username
{
  margin-left: 60px;
}

.input #phone, .input #email
{
  margin-left: 30px;
}


.row
{
  height: fit-content;
}

  p{
    text-align: center;
    font-weight: bold;
    }

  .box.back {
    transform: scale(1.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    top: -20px;
    opacity: 0.8;
    z-index: -1;
  }

  .box:before {
    content: "";
    width: 100%;
    height: 30px;
    border-radius: 20px;
    position: absolute;
    top: -10px;
    left: 0;
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    z-index: -1;
  }
  
  
  label
  {
    color: var(--primary-color);
    font-weight: bold;
    font-size: medium;
    font-weight: 600;
    font-style: italic;
  }

  .fs-3
  {
    color:  rgba(16, 202, 28, 0.703);
  }

  .g-0
  {
    background-color:  rgba(16, 202, 28, 0.703);
  }

  .help{
    color: rgb(143, 109, 109);
    font-size: small;
  }
  
 .btn-primary
 {
    background-color: rgba(16, 202, 28, 0.703);
    margin: 5px 0px 0px 40px;
    height: 38px;
    width: 150px;
 }