.container
{
    background-color: rgb(24, 24, 13);
    width: 800%;
    margin-top: 2px;
}

.foodbox 
{
    padding: 10px 20px 0px 20px;
    color: #fff;
    
} 
.foodbox img
{
    width: 100%;
    height: 250px;
    border-radius: 5px;
    margin-left: 320px;
}
.foodbox h1
{
    font-size: 20px;
    margin-top: 18px;
    font-weight: bold;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-success,.btn-danger
{
    margin-bottom: 10px;
}

.buybtn
{

    color: #fff;
    background-color: var(--primary-color);
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}