.container
{
    background-color: rgb(24, 24, 13);
    width: 800%;
    margin-top: 2px;
}

.foodbox 
{   
    color: #fff;
    
} 

.first
{
  width: 80%;
  height: 250px;
  border-radius: 8px;
  margin-top: 60px;
  margin-left: 50px;
}
.second
{
  width: 80%;
  height: 250px;
  border-radius: 8px;
  margin-top: -280px;
  margin-left: 380px;
}
.third
{
  width: 80%;
  height: 250px;
  border-radius: 8px;
  margin-top: -330px;
  margin-left: 710px;
}

.foodbox h1
{
    font-size: 20px;
    margin-top: 1px;
    font-weight: bold;
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn-success,.btn-danger
{
    margin-bottom: 10px;
}

.buybtn
{

    color: #fff;
    background-color: var(--primary-color);
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

p{
  font-size: 15px;
}










  