.container
{
    background-color: rgb(24, 24, 13);
    width: 800%;
    margin-top: 2px;
}

.foodbox 
{   
    color: #fff;
    
} 

.first
{
  width: 80%;
  height: 250px;
  border-radius: 8px;
  margin-top: 60px;
  margin-left: 50px;
}
.second
{
  width: 80%;
  height: 250px;
  border-radius: 8px;
  margin-top: -280px;
  margin-left: 380px;
}
.third
{
  width: 80%;
  height: 250px;
  border-radius: 8px;
  margin-top: -330px;
  margin-left: 710px;
}

.firstfood
{
  margin-left: 50px;
}

.secondfood
{
  margin-left: 380px;
  margin-top: -170px;
  width: 80%;
  height: 250px;
}

.thirdfood
{ 
  margin-left: 710px;
  margin-top: -250px;
  width: 80%;

}

.first-description,.second-description,.third-description
{
  font-style: italic;
}

.btn-success,.btn-danger
{
    margin-bottom: 10px;
}

.buybtn
{

    color: #fff;
    background-color: var(--primary-color);
    padding: 10px 10px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

p{
  font-size: 15px;
}










  