<body>
  <div class="container d-flex">
    <div class="col-lg-4" *ngFor="let md of MenuDetails.foodMenu; let i=index">

      <div class="foodbox" >
        
        <div class="foodmenu" >
          <div >
            <div class="firstitem">
              <a>
                <img class="first" src="{{md.foodImages}}">
              </a>
               </div>
    
          <h1 class="first-menu">{{md.menuName}}</h1>
          <p class="first-price">Price : {{md.foodPrice | currency:'INR'}}</p>
          <p class="first-description">{{md.foodDescription}}</p>
          <button class="btn btn-success" *ngIf="!addButton" (click)="add(md)">Add To
            Cart</button>
        </div>
      </div>

        
        <div class="d-flex w-50" *ngIf="addButton">
          <br><br>
        </div>
      </div>
    </div>
  </div>


</body>