<body>
  <div class="container d-flex">
    <div class="col-lg-4">

      <div class="foodbox">
        <div class="firstitem">
          <a>
            <img class="first" src="{{MenuDetails.foodImages[0]}}">
          </a>
          <a>
            <img class="second" src="{{MenuDetails.foodImages[1]}}">
          </a>
          <a>
            <img class="third" src="{{MenuDetails.foodImages[2]}}">
          </a>
        </div>

        <div class="firstfood">
          <h1 class="first-menu">{{MenuDetails.menuName[0]}}</h1>
          <p class="first-price">Price : {{MenuDetails.foodPrice[0] | currency:'INR'}}</p>
          <p class="first-description">{{MenuDetails.foodDescription[0]}}</p>
          <button class="btn btn-success" *ngIf="!addButton" (click)="add(MenuDetails,MenuDetails.foodPrice[0])">Add To
            Cart</button>
        </div>

        <div class="secondfood">
          <h1 class="second-menu">{{MenuDetails.menuName[1]}}</h1>
          <p class="second-price">Price : {{MenuDetails.foodPrice[1] | currency:'INR'}}</p>
          <p class="second-description">{{MenuDetails.foodDescription[1]}}</p>
          <button class="btn btn-success" *ngIf="!addButton" (click)="add(MenuDetails,MenuDetails.foodPrice[1])">Add To
            Cart</button>
        </div>

        <div class="thirdfood">
          <h1 class="third-menu">{{MenuDetails.menuName[2]}}</h1>
          <p class="third-price">Price : {{MenuDetails.foodPrice[2] | currency:'INR'}}</p>
          <p class="third-description">{{MenuDetails.foodDescription[2]}}</p>
          <button class="btn btn-success" *ngIf="!addButton" (click)="add(MenuDetails,MenuDetails.foodPrice[2])">Add To
            Cart</button>
        </div>


        <div class="d-flex w-50" *ngIf="addButton">
          <br><br>
        </div>
      </div>
    </div>
  </div>


</body>